.finalproject {
    align-items: center;
    filter: opacity(0.5);
    height: 300px ;
    width: 600px ;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
}

footer {
    text-align: center;
    font-weight: bold;
}

.table {
    border: solid black 10px;
    padding: 5px;
}

#table th {
    background-color: rgb(201, 144, 255);
}

#table td {
    background-color: lightgray;
}

.container {
    text-align: center;
    color: black;
    position: relative; 
  }

.centered {
    color: black;
    position: absolute;
    top: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
}

.nav {
    background-color: yellow;
    color: red;
}

.nav a {
    color: red;
}

.nav a:hover {
    background: #ddd;
    color: black;
  }

  .container2 {
      border: black solid 5px;
      color: tomato;
      background-color: lawngreen;
      height: 300px;
      width: 600px;
  }

.footer {
    background-color: none;
}

p:hover {
    background-color: darkcyan;
}